.flex {
  display: flex;
  &-1 {
    flex: 1;
  }
  &-2 {
    width: 50%;
    flex: 0 0 50%;
  }
  &-3 {
    width: 33.3333%;
    flex: 0 0 33.3333%;
  }
  &-4 {
    width: 25%;
    flex: 0 0 25%;
  }

  &-column {
    @extend .flex;
    flex-direction: column;
  }

  &-jc {
    @extend .flex;
    justify-content: center;
  }
  &-ja {
    @extend .flex;
    justify-content: flex-start;
  }
  &-je {
    @extend .flex;
    justify-content: flex-end;
  }
  &-jsb {
    @extend .flex;
    justify-content: space-between;
  }
  &-jsa {
    @extend .flex;
    justify-content: space-around;
  }
  &-jse {
    @extend .flex;
    justify-content: space-evenly;
  }

  &-ac {
    @extend .flex;
    align-items: center;
  }
  &-ae {
    @extend .flex;
    align-items: flex-end;
  }
  &-as {
    @extend .flex;
    align-items: stretch;
  }

  &-wrap {
    @extend .flex;
    flex-wrap: wrap;
  }

  &-jc-ac {
    @extend .flex-jc;
    @extend .flex-ac;
  }
}
