#app .font {
  @for $i from 10 through 40 {
    &-#{$i} {
      font-size: $i + px;
    }
  }

  &-0 {
    font-size: 0px;
  }

  &-weight {
    &-bold {
      font-weight: 700;
    }
    &-bolder {
      font-weight: bolder;
    }
    &-normal {
      font-weight: 400;
    }
    &-light {
      font-weight: 300;
    }
    &-lighter {
      font-weight: lighter;
    }
  }

  &-itali {
    font-style: italic;
  }
}
